@font-face {
    font-family: 'DroidSerifRegular';
    src: url('DroidSerif-Regular-webfont.eot');
    src: url('DroidSerif-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('DroidSerif-Regular-webfont.woff') format('woff'),
         url('DroidSerif-Regular-webfont.ttf') format('truetype'),
         url('DroidSerif-Regular-webfont.svg#DroidSerifRegular') format('svg');
    font-weight: normal;
    font-style: normal;
	}

@font-face {
    font-family: 'DroidSerifItalic';
    src: url('DroidSerif-Italic-webfont.eot');
    src: url('DroidSerif-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('DroidSerif-Italic-webfont.woff') format('woff'),
         url('DroidSerif-Italic-webfont.ttf') format('truetype'),
         url('DroidSerif-Italic-webfont.svg#DroidSerifItalic') format('svg');
    font-weight: normal;
    font-style: normal;
	}

@font-face {
    font-family: 'DroidSerifBold';
    src: url('DroidSerif-Bold-webfont.eot');
    src: url('DroidSerif-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('DroidSerif-Bold-webfont.woff') format('woff'),
         url('DroidSerif-Bold-webfont.ttf') format('truetype'),
         url('DroidSerif-Bold-webfont.svg#DroidSerifBold') format('svg');
    font-weight: normal;
    font-style: normal;
	}

@font-face {
    font-family: 'DroidSerifBoldItalic';
    src: url('DroidSerif-BoldItalic-webfont.eot');
    src: url('DroidSerif-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('DroidSerif-BoldItalic-webfont.woff') format('woff'),
         url('DroidSerif-BoldItalic-webfont.ttf') format('truetype'),
         url('DroidSerif-BoldItalic-webfont.svg#DroidSerifBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;
    }

@font-face {
    font-family: 'DroidSansRegular';
    src: url('DroidSans-webfont.eot');
    src: url('DroidSans-webfont.eot?#iefix') format('embedded-opentype'),
         url('DroidSans-webfont.woff') format('woff'),
         url('DroidSans-webfont.ttf') format('truetype'),
         url('DroidSans-webfont.svg#DroidSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;
	}

@font-face {
    font-family: 'DroidSansBold';
    src: url('DroidSans-Bold-webfont.eot');
    src: url('DroidSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('DroidSans-Bold-webfont.woff') format('woff'),
         url('DroidSans-Bold-webfont.ttf') format('truetype'),
         url('DroidSans-Bold-webfont.svg#DroidSansBold') format('svg');
    font-weight: normal;
    font-style: normal;
	}